  <!-- Footer -->
  <footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>TC_ECOMMERCE</h5>
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet.</p>
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled d-flex">
            <li><a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="text-center pt-3 border-top border-secondary">
        <p class="small mb-0">&copy; 2024 Company Name. All Rights Reserved.</p>
      </div>
    </div>
  </footer>