<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Admin Login Panel template driven form</h3>
            <form name="form"#tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
                <div class="form-group">
                    <label for="userEmail">Enter your Email </label>
                    <input type="email"name="userEmail" class="form-control"[(ngModel)]="signInFormValue.userEmail" #userEmail="ngModel" required id="userEmail">
                </div>
                <div class="form-group">
                    <label for="password">Entre your password</label>
                    <input type="password" name="password" id="password" required togglePassword minlength="5" class="form-control" [(ngModel)]="signInFormValue.password" #password="ngModel">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>